<div class="modal-header">
    <div class="row row-centered">
        <div class="col-xs-12 text-center">
            <button type="button"
                    class="close"
                    ng-click="vm.templateActions.close();">
                &times;
            </button>
            <label class="cq-modal-title-label">
                {{vm.title}}
            </label>
        </div>
    </div>
</div>
<div class="modal-body">
    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group heading="@L("GameMainInfo")"
                             is-open="true"
                             class="cq-main-info-accordion">
            <div class="row cq-control-row">
                <div class="col-xs-2 cq-control-label">
                    @L("Name"): &nbsp;
                </div>
                <div class="col-xs-8">
                    <input class="form-control cq-control"
                           ng-disabled="!(vm.templateMode.isCreate() || vm.templateMode.isUpdate())"
                           ng-readonly="!(vm.templateMode.isCreate() || vm.templateMode.isUpdate())"
                           ng-model="vm.entity.name" />
                </div>
            </div>
            <div class="row cq-control-row">
                <div class="col-xs-2 cq-control-label">
                    @L("Location"): &nbsp;
                </div>
                <div class="col-xs-8">
                    <select class="form-control cq-control"
                            ng-if="!vm.locations.length"
                            ng-disabled="true"
                            ng-readonly="true" />
                    <select class="form-control cq-control"
                            ng-if="vm.locations.length"
                            ng-disabled="!(vm.templateMode.isCreate() || vm.templateMode.isUpdate())"
                            ng-readonly="!(vm.templateMode.isCreate() || vm.templateMode.isUpdate())"
                            ng-model="vm.entity.locationId"
                            ng-options="location.value as location.displayText for location in vm.locations" />
                </div>
            </div>
            <div class="row cq-control-row">
                <div class="col-xs-2 cq-control-label">
                    @L("Description"): &nbsp;
                </div>
                <div class="col-xs-8">
                    <textarea class="form-control cq-control"
                              ng-disabled="!(vm.templateMode.isCreate() || vm.templateMode.isUpdate())"
                              ng-readonly="!(vm.templateMode.isCreate() || vm.templateMode.isUpdate())"
                              rows="3"
                              ng-model="vm.entity.description" />
                </div>
            </div>
        </uib-accordion-group>
        <uib-accordion-group heading="@L("GameImage")"
                             is-open="false"
                             class="cq-main-info-accordion">
            <div class="row cq-control-row"
                 ng-if="vm.entity != null && vm.entity.gameImageName != null && vm.entity.gameImageName != '' && (vm.templateMode.isInfo() || vm.templateMode.isUpdate())">
                <div class="col-xs-4">
                    <label>
                        {{vm.localize('CurrentGameImage')}}:
                    </label>
                </div>
                <div class="col-xs-8"
                     ng-if="vm.entity != null && vm.entity.gameImageName != null && vm.entity.gameImageName != ''">
                    <img ng-src="~/{{vm.entity.gameImageName}}" />
                </div>
            </div>
            <div class="row cq-control-row"
                 ng-show="!vm.templateMode.isInfo()">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img ng-src="{{vm.croppedImage}}"
                                         ng-if="vm.croppedImage != null && vm.croppedImage != ''" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <input type="file"
                                   id="fileImageInput"
                                   style="margin-top: 20px; margin-bottom:10px;" />
                            <button class="btn btn-danger"
                                    style="margin-top: 20px; margin-bottom:10px;"
                                    title="{{vm.localize('ButtonClearImageTitleText')}}"
                                    ng-click="vm.templateActions.clearImage()">
                                {{vm.localize('ButtonClearImageText')}}
                            </button>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="vm.uploadedImage != null && vm.uploadedImage != ''">
                        <div class="col-xs-12">
                            <div class="cropArea">
                                <img-crop image="vm.uploadedImage"
                                          area-type="square"
                                          result-image-size="300"
                                          result-image="vm.croppedImage"></img-crop>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
        <uib-accordion-group is-open="false"
                             heading="@L("GameTasks") ({{vm.entity.gameTasks.length}})"
                             class="cq-other-info-accordion">
            <game-tasks-builder ng-if="vm.entity"
                                game-id="vm.entity.id"
                                template-mode="vm.templateModeState"
                                game-tasks="vm.entity.gameTasks"
                                game-task-types="vm.gameTaskTypes"
                                condition-types="vm.conditionTypes"></game-tasks-builder>
        </uib-accordion-group>
    </uib-accordion>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-danger pull-left"
            ng-if="vm.templateAvailableActions.deleteEntity()"
            ng-click="vm.templateActions.deleteEntity();">
        @L("ButtonDelete")
    </button>
    <button type="button"
            class="btn btn-success"
            ng-if="vm.templateAvailableActions.saveEntity()"
            ng-click="vm.templateActions.saveEntity();">
        @L("ButtonSave")
    </button>
    <button type="button"
            class="btn btn-warning"
            ng-if="vm.templateAvailableActions.activateEntity()"
            ng-click="vm.templateActions.activateEntity();">
        @L("ButtonActivate")
    </button>
    <button type="button"
            class="btn btn-warning"
            ng-if="vm.templateAvailableActions.deactivateEntity()"
            ng-click="vm.templateActions.deactivateEntity();">
        @L("ButtonDeactivate")
    </button>
    <button type="button"
            class="btn btn-primary"
            ng-click="vm.templateActions.close();">
        @L("ButtonClose")
    </button>
</div>