<div ng-controller="app.controllers.authorization.login as login">
    <div class="container">
        <div style="margin-top:50px;"
             class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
             cg-busy="login.loginPagePromise"
             ng-if="login.currentState === login.loginStates.signIn">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">@L("SignInTo")&nbsp;<strong>@L("ApplicationName")</strong></div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div style="margin-bottom: 15px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="login.loginData.userName" 
                                   type="text" 
                                   class="form-control" 
                                   placeholder="@L("UserName")" 
                                   required 
                                   autofocus>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="login.loginData.password" 
                                   type="password" 
                                   class="form-control" 
                                   placeholder="@L("Password")" 
                                   required>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-info">
                                    <input id="persist" class="checkbox-danger" 
                                           ng-model="login.loginData.isPersist" 
                                           type="checkbox" 
                                           value="remember-me">
                                    <label for="persist">
                                        @L("RememberMe")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-xs-12">
                                <button class="btn btn-success pull-left" 
                                        type="submit" 
                                        ng-click="login.login()">
                                    <span><i class="fa fa-sign-in"></i> &nbsp; @L("SignIn")</span>
                                </button>
                                <button class="btn btn-primary pull-right" 
                                        type="button" 
                                        ng-click="login.changeState(login.loginStates.signUp)">
                                    <span><i class="fa fa-user-plus"></i> &nbsp; @L("SignUp")</span>
                                </button>
                                @*<button class="btn btn-primary" disabled>
                                    <span><i class="fa fa-windows"></i>&nbsp @L("LoginViaWindows")</span>
                                </button>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div style="margin-top:50px"
             class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
             ng-if="login.currentState === login.loginStates.signUp">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">@L("SignUpFor")&nbsp;<strong>@L("ApplicationName")</strong></div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">@L("UserName")</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="username" placeholder="@L("UserName")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">@L("FirstName")</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="firstname" placeholder="@L("FirstName")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">@L("LastName")</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="lastname" placeholder="@L("LastName")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">@L("Email")</label>
                            <div class="col-md-9">
                                <input type="text"
                                       class="form-control"
                                       name="email"
                                       placeholder="@L("EmailAddress")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">@L("Password")</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passwd" placeholder="@L("Password")">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-success pull-left" type="submit"
                                        ng-click="login.signUp()">
                                    <span>@L("SignUp")</span>
                                </button>
                                <button class="btn btn-primary pull-right" ng-click="login.changeState(login.loginStates.signIn)">
                                    <span>@L("BackButton")</span>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>